/node_modules/
/components/
/bower_components/
/test_scopes/angular_1.2.x/bower_components/
/test_scopes/angular_1.3.x/bower_components/
/dist/
/demo/js/angular-translate-latest.js

# OS X
.DS_Store

# IntelliJ stuff
/.idea/
*.iml
# Eclipse (plugins)
/atlassian-ide-plugin.xml

# Auto-added patterns

