/bower_components/
/demo/
/docs/
/identity/
/src/
/test/
/test_scopes/
/.bowerrc
/.editorconfig
/.jshintrc
/.travis.yml
/bower.json
/CONTRIBUTING.md
/*.sh
/*.js
/*.png
/update-docs
/build/

# IntelliJ stuff
.idea
*.iml
# Eclipse (plugins)
/atlassian-ide-plugin.xml
