<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="--page"><h2 id="入门">入门</h2>
<h3 id="入门_设置html">设置HTML</h3>
<p>要开始使用 angular-translate，你需要在你的HTML文档中嵌入angular-translate。当然，这应该发生 Angular 本身嵌入<strong>后</strong>. 您的HTML看起来应该像这样：</p>
<pre class="prettyprint linenums">
&lt;html&gt;
  &lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;title&gt;i18n app&lt;/title&gt;

    &lt;script src="path/to/angular.js"&gt;&lt;/script&gt;
    &lt;script src="path/to/angular-translate.js"&gt;&lt;/script&gt;
    &lt;script src="app.js"&gt;&lt;/script&gt;
  &lt;/head&gt;

  &lt;body ng-app="myApp"&gt;

  &lt;/body&gt;
&lt;/html&gt;
</pre>
<h3 id="入门_声明依赖性">声明依赖性</h3>
<p>一旦做到这一点，你可以声明 angular-translate 做为您的应用程序的依赖关系。
作为你的应用程序的依赖， Angular 提供依赖注入，这是很酷的. 所以要告诉你的应用程序它需要
angular-translate 才能够正常使用, 简单的注入 angular-translate 依赖性到你的组建之中就可以了，有下面的源代码所演示。
这就给你引入 angular-translate 的组件：</p>
<pre class="prettyprint linenums">
var app = angular.module('myApp', ['pascalprecht.translate']);
</pre>
<h3 id="入门_介绍">介绍 <code>$translateProvider</code></h3>
<p>angular-translate 现在被我声明作为依赖, 这意味着我们现在可以访问其所有组件。当涉及到你可能想在以后使用的不同的服务配置时 Angular 有非常清晰的架构。
让我们来看看下面的代码。</p>
<p>我敢肯定，你已经看过这样的代码：</p>
<pre class="prettyprint linenums">
app.config(function ($locationProvider) {
  $locationProvider.html5Mode(true);
});
</pre>
<p>或者，也许配置了 <code>$route</code> 服务：</p>
<pre class="prettyprint linenums">
app.config(function ($routeProvider) {
  $routeProvider.when('/something', {
    templateUrl: 'url/to/template',
    controller: 'SomeFancyCtrl'
  });
});
</pre>
<p>实际发生的事情在这里不是<em>使用某些服务</em>去配置一些东西。而是<em>配置一些服务</em> 去使用<em>供应商</em>, 而这恰好是你的应用程序以后要使用的。
这意味着 <code>$locationProvider.html5Mode(true)</code> 在HTML5的模式下配置 <code>$location</code> <strong>服务</strong>去工作。所以，如果一个服务应该是从外部配置的，
它需要一个相应的供应商，提供您所需要的接口。</p>
<p>angular-translate 安装包里有 <code>$translateProvider</code>，它可以用来配置 <code>$translate</code>服务， 这个服务会处理i18n相关的内容。
在你的应用程序中 <code>$translate</code> 服务被你的指令和过滤器使用。要使用这个服务去翻译，他必须要知道什么翻译是可以拿到的。</p>
<p>这时候你就需要<code>$translateProvider</code>了. <code>$translateProvider</code> 提供一些方法来教你的应用程序不同的语言，并且可以让<code>$translate</code>服务来使用他们。</p>
<h3 id="入门_教你的应用程序一个新的语言">教你的应用程序一个新的语言</h3>
<p>用 <code>$translateProvider</code> 教你的应用程序一个新的语言是很容易的。首先，你
必须将供应商注入你的模块配置功能（这是唯一可以访问他的地方)。
<pre class="prettyprint linenums">
app.config(['$translateProvider', function($translateProvider) {

}]);
</pre>
<p>现在想要加一个新的语言，你必须让<code>$translateProvider</code>知道<strong>翻译列表</strong>. 这是什么意思呢？其实非常简单。
angular-translate 期待一个翻译列表，他是一个JSON对象. 所以你需要做的事，就是把翻译列表作为一个Javascript HASH 对象, 或者
作为 JSON 对象来远程加载。翻译列表的格式大概是这样的：</p>
<pre><code class="lang-json">{
  &quot;TRANSLATION_ID&quot;: &quot;This is a concrete translation for a specific language.&quot;
}</code></pre>
<p>不是很容易吗？上面的转换表只包含一个翻译ID。正如你可以看到，键代表一个翻译的ID，而该值表示对一定的语言有具体的翻译。你甚至不必
在你的翻译表中提供任何信息，何种语言和它相对应。关于此底下我们还会提到。</p>
<p>您也可以通过命名空间来安排您的翻译列表。这是许多有趣的大网站对大和长的页面的做法。您需要做的就是创建嵌套的 JSON 对象：</p>
<pre><code class="lang-json">{
  &quot;NAMESPACE&quot;: {
    &quot;SUB_NAMESPACE&quot;: {
       &quot;TRANSLATION_ID1&quot;: &quot;This is a namespaced translation.&quot;
    }
  }
}</code></pre>
<p>这个翻译列表只包含一个翻译。但是你可以很容易的扩展它。你可以有不同的嵌套的层次，在你的翻译列表中每一个命名空间都可以包括
更多的子命名空间，这可以使你的解决方案非常的灵活！</p>
<h3 id="入门_快捷方式和链接">快捷方式和链接</h3>
<p>自<code>1.1.1</code>版本以来一个非常实用的功能就是快捷方式和链接的使用。
比方说，你有一个翻译列表看起来像这样：</p>
<pre><code class="lang-json">{
  &quot;bar&quot;: {
    &quot;foo&quot;: {
      &quot;foo&quot;: &quot;This is my text.&quot;
    }
  }
}</code></pre>
<p>您你后将可以通过 <code>bar.foo.foo</code> 来对现有的翻译ID进行访问。虽然这样也不错，但我们可以做的更好。angular-translate 很聪明，
它可以认识到，在其对应的命名空间是否有翻译的id具有相同标识符。如果是这样的话，他就可以用快捷方式在指向的命名空间访问这个翻译ID
，而不是那个完整的翻译ID。</p>
<p>这就意味着，你可以简单的使用快捷方式 <code>bar.foo</code> 来访问同一个特定的翻译ID。很酷对吧？</p>
<p>另一个很酷的功能，angular-translate 提供链接的能力将您的翻译表从一个翻译的ID链接到另一个翻译的ID。比方说，我们有下列翻译转换表：</p>
<pre><code class="lang-json">{
  &quot;SOME_NAMESPACE&quot;: {
    &quot;OK_TEXT&quot;: &quot;OK&quot;
  },
  &quot;ANOTHER_NAMESPACE&quot;: {
    &quot;OK_TEXT&quot;: &quot;OK&quot;
  }
}</code></pre>
<p>因此，大家可以看到我们要在这里引入命名空间，但两者其实就是需要一个字符串，“OK（确定）”。这种情况下是很寻常的，如果你只是想想
一个确认按钮，或者在您的应用程序其他类似的文本。然而，不难认识到我们有一个冗余在这里，我们开发者不喜欢冗余吧？</p>
<p>如果有翻译ID已经有相同的具体文本，那你需要此文本的时候可以直接链接它。要链接到另一个翻译的ID，你只需要用<code>@：</code>符号，后面写上全名
翻译标识，包括要链接到的命名空间。所以上面的示例可能看起来像这样：</p>
<pre><code class="lang-json">{
  &quot;SOME_NAMESPACE&quot;: {
    &quot;OK_TEXT&quot;: &quot;OK&quot;
  },
  &quot;ANOTHER_NAMESPACE&quot;: {
    &quot;OK_TEXT&quot;: &quot;@:SOME_NAMESPACE.OK_TEXT&quot;
  }
}</code></pre>
<h3 id="入门_现在让我们付诸行动">现在让我们付诸行动!</h3>
<p>让我们在我们的应用程序添加一个翻译列表。 <code>$translateProvider</code> 提供一个方法叫做<code>translates()</code>，就是用来做这个的。比方说，我们有一个
翻译列表是这样的：</p>
<pre class="prettyprint linenums">
var translations = {
  HEADLINE: 'What an awesome module!',
  PARAGRAPH: 'Srsly!',
  NAMESPACE: {
    PARAGRAPH: 'And it comes with awesome features!'
  }
};
</pre>
<p>我们可以通过调用 <code>$translateProvider.translations()</code>加入这个表:</p>
<pre class="prettyprint linenums">
app.config(['$translateProvider', function ($translateProvider) {
  // add translation table
  $translateProvider
    .translations('en', translations)
    .preferredLanguage('en');
}]);
</pre>
<p>这基本上是所有你必须做的。只需指定一个语言键并添加翻译列表吧。之后告诉 angular-translate 什么是首选语言是。由于我们在配置时加入翻译列表，
一旦它被实例化和使用 <code>$translate</code> 服务是能够访问它的。</p>
<p>这是工作代码：</p>
<h3 id="入门_source">Source</h3>
<div source-edit="myApp" source-edit-deps="angular.js script.js" source-edit-html="index.html-3" source-edit-css="" source-edit-js="script.js-2" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-3" ng-html-wrap-loaded="myApp angular.js script.js"></pre>
<script type="text/ng-template" id="index.html-3">
    
    <div>
      <h2 id="nothing-to-see-here-yet">Nothing to see here yet!</h2>
      <p>But we'll change it now</p>
    </div>
  </script>
</div>
<div class="tab-pane" title="script.js">
<pre class="prettyprint linenums" ng-set-text="script.js-2"></pre>
<script type="text/ng-template" id="script.js-2">
      var translations = {
        HEADLINE: 'What an awesome module!',
        PARAGRAPH: 'Srsly!',
        NAMESPACE: {
          PARAGRAPH: 'And it comes with awesome features!'
        }
      };

      var app = angular.module('myApp', ['pascalprecht.translate']);

      app.config(['$translateProvider', function ($translateProvider) {
        // add translation table
        $translateProvider
          .translations('en', translations)
          .preferredLanguage('en');
      }]);
    </script>
</div>
</div><h3 id="nothing-to-see-here-yet_demo">Demo</h3>
<div class="well doc-example-live animate-container" ng-embed-app="myApp" ng-set-html="index.html-3" ng-eval-javascript="script.js-2"></div>
<p>您的应用程序现在已准备好进行本地化！在下一章中，您将学习如何使用 angular-translate 提供的指令和过滤器来内插您的翻译。</p>
<p><br></p>
<p><hr></p>
<center>Made with unicorn &hearts; love by <a href="http://github.com/PascalPrecht">PascalPrecht</a></center>
</div></div>
