<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="--page"><h2 id="使用翻译指令">使用翻译指令</h2>
<p>Another way to translate contents within the view layer is to use the <code>translate</code>
directive. Using <code>translate</code> filter is great, but using <code>translate</code> directive is
better. It turned out that having too many filters in a view sets up too many watch
expressions, which is why <code>angular-translate</code> also provides a directive to translate
your contents in view layer.</p>
<h3 id="使用翻译指令_general-usage">General usage</h3>
<p>You can use <code>translate</code> directive in many different ways. This is how the general
usage looks like:</p>
<pre><code>&lt;ANY translate&gt;TRANSLATION_ID&lt;/ANY&gt;</code></pre>
<p>You can also pass a translation ID as attribute value of the <code>translate</code> directive
like this:</p>
<pre><code>&lt;ANY translate=&quot;TRANSLATION_ID&quot;&gt;&lt;/ANY&gt;</code></pre>
<p>Even if that&#39;s already a very flexible way of using a directive, angular-translate
offers <strong>another</strong> way of using it. Let&#39;s say a translation ID isn&#39;t available
as a concrete identifier, because e.g. one is looping over a dataset which contains
a translation ID in each iterator. In that case a translation ID is only dynamically
available. You actually have to interpolate the ID itself first. angular-translate
got you covered. This is also possible:</p>
<pre><code>&lt;ANY translate=&quot;{{toBeInterpolated}}&quot;&gt;&lt;/ANY&gt;</code></pre>
<p>Isn&#39;t that cool? And yeah, angular-translate wouldn&#39;t be angular-translate if it
couldn&#39;t handle it the same way with our first usage example. This also works:</p>
<pre><code>&lt;ANY translate&gt;{{toBeInterpolated}}&lt;/ANY&gt;</code></pre>
<p>Choose what works best for you!</p>
<h3 id="使用翻译指令_post-compiling">Post compiling</h3>
<p>Starting with version 2, the translation itself can be post processed in context of the
current scope (using <code>$compile</code>). This means any directive used in a translation value
itself will now work as expected.</p>
<p>This behavior can be enabled per directive:</p>
<pre><code>&lt;ANY translate=&quot;TRANSLATION_ID&quot; translate-compile&gt;&lt;/ANY&gt;</code></pre>
<p>In addition to it, you can also enable the feature globally with...</p>
<pre><code>$translateProvider.usePostCompiling(true);</code></pre>
<p>... and even then you can disable the feature again per directive:</p>
<pre><code>&lt;ANY translate=&quot;TRANSLATION_ID&quot; translate-compile=&quot;false&quot;&gt;&lt;/ANY&gt;</code></pre>
<h3 id="使用翻译指令_example">Example</h3>
<p>Let&#39;s update our example app and add some new translations. How about texts which
represents each possible way of using <code>translate</code> directive? Our translation table
could look like this:</p>
<pre class="prettyprint linenums">
var translations = {
  HEADLINE: 'What an awesome module!',
  PARAGRAPH: 'Srsly!',
  PASSED_AS_TEXT: 'Hey there! I\'m passed as text value!',
  PASSED_AS_ATTRIBUTE: 'I\'m passed as attribute value, cool ha?',
  PASSED_AS_INTERPOLATION: 'Beginners! I\'m interpolated!'
};
</pre>
<p>After that we update our view with our new translation IDs:</p>
<pre class="prettyprint linenums">
&lt;p&gt;{{ 'HEADLINE' | translate }}&lt;/p&gt;
&lt;p&gt;{{ 'PARAGRAPH' | translate }}&lt;/p&gt;

&lt;p translate&gt;PASSED_AS_TEXT&lt;/p&gt;
&lt;p translate="PASSED_AS_ATTRIBUTE"&gt;&lt;/p&gt;
&lt;p translate&gt;{{ 'PASSED_AS_INTERPOLATION' }}&lt;/p&gt;
&lt;p translate="{{ 'PASSED_AS_INTERPOLATION' }}"&gt;&lt;/p&gt;
</pre>
<p>Our updated app then looks like this:</p>
<h3 id="使用翻译指令_source">Source</h3>
<div source-edit="myApp" source-edit-deps="angular.js script.js" source-edit-html="index.html-9" source-edit-css="" source-edit-js="script.js-8" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-9" ng-html-wrap-loaded="myApp angular.js script.js"></pre>
<script type="text/ng-template" id="index.html-9">
    
    <div ng-controller="Ctrl">
      <p>{{ 'HEADLINE' | translate }}</p>
      <p>{{ 'PARAGRAPH' | translate }}</p>

      <p translate>PASSED_AS_TEXT</p>
      <p translate="PASSED_AS_ATTRIBUTE"></p>
      <p translate>{{ 'PASSED_AS_INTERPOLATION' }}</p>
      <p translate="{{ 'PASSED_AS_INTERPOLATION' }}"></p>
    </div>
  </script>
</div>
<div class="tab-pane" title="script.js">
<pre class="prettyprint linenums" ng-set-text="script.js-8"></pre>
<script type="text/ng-template" id="script.js-8">
      var translations = {
        HEADLINE: 'What an awesome module!',
        PARAGRAPH: 'Srsly!',
        PASSED_AS_TEXT: 'Hey there! I\'m passed as text value!',
        PASSED_AS_ATTRIBUTE: 'I\'m passed as attribute value, cool ha?',
        PASSED_AS_INTERPOLATION: 'Beginners! I\'m interpolated!'
      };

      var app = angular.module('myApp', ['pascalprecht.translate']);

      app.config(['$translateProvider', function ($translateProvider) {
        // add translation table
        $translateProvider
          .translations('en', translations)
          .preferredLanguage('en');
      }]);

      app.controller('Ctrl', ['$scope', function ($scope) {

      }]);
    </script>
</div>
</div><h3 id="使用翻译指令_demo">Demo</h3>
<div class="well doc-example-live animate-container" ng-embed-app="myApp" ng-set-html="index.html-9" ng-eval-javascript="script.js-8"></div>
<p><br></p>
<p><hr></p>
<center>Made with unicorn &hearts; love by <a href="http://github.com/PascalPrecht">PascalPrecht</a></center>
</div></div>
