<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="--page"><h2 id="语言谈判">语言谈判</h2>
<p>angular-translate 支持一个名为“语言协商”功能。用此功能，你可以定义类似的语言键之间的关系。</p>
<p>所以，这是什么意思？比方说，你的转换表的语言有键值<code>en</code>和<code>de</code>。</p>
<pre class="prettyprint linenums">
$translateProvider
  .translations('en', { /* ... */ })
  .translations('de', { /* ... */ });
</pre>
<p>你也可以告诉angular-translate,它应该尽量确定首选您的应用程序本身的语言, 通过调用<code>.determinePreferredLanguage()</code>
方法.</p>
<pre class="prettyprint linenums">
$translateProvider
  .translations('en', { /* ... */ })
  .translations('de', { /* ... */ })
  .determinePreferredLanguage();
</pre>
<p>我们学习过 <a href="#/guide/07_multi-language#multi-language_determining-preferred-language-automatically">自动确定首选语言</a>
使用这个方法不带任何参数，将尝试通过访问浏览器属性确定一个语言键。</p>
<p>现在，如果您的浏览器返回<code>en_US</code> 而不是<code>en</code>? 通常，这将导致一个错误，因为<code>en_US</code> 是，在乍看之下，只是另一种语言的键值。
所以angular-translate将其视为不同的语言。这是不是你想要的。你想要什么是angular-translate足够聪明的识别<code>en_US</code>的<code>en</code>之间的关系，
在这种情况下它应该使用<code>en</code>。</p>
<p>angular-translate 一应俱全。您可以通过所使用的语言协商制度使用 <code>registerAvailableLanguageKeys()</code> 方法。此方法需要一个数组，
你的应用程序支持的语言的键值。 第二个参数是一个对象映射相关的语言键与实际语言键。一旦这个设置确定，
angular-translate能够映射通过浏览器返回的语言<code>EN_US</code>为语言键<code>en</code>，这才是实际上你的应用程序要使用的。</p>
<p>关于我们的用例，我们上面所讨论的，它看起来会像这样：</p>
<pre class="prettyprint linenums">
$translateProvider
  .translations('en', { /* ... */ })
  .translations('de', { /* ... */ })
  .registerAvailableLanguageKeys(['en', 'de'], {
    'en_US': 'en',
    'en_UK': 'en',
    'de_DE'; 'de',
    'de_CH': 'de'
  })
  .determinePreferredLanguage();
</pre>
<p>如果浏览器现在返回 <code>en_US</code> 或者 <code>en_UK</code>, angular-translate 会设定 <code>en</code>为首选语言.
我们还要提到的是这个方法只能是在<code>determinePreferredLanguage()</code>同时也被使用时才有意义。
<br></p>
<p><hr></p>
<center>Made with unicorn &hearts; love by <a href="http://github.com/PascalPrecht">PascalPrecht</a></center>
</div></div>
