<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="--page"><h2 id="存储">存储</h2>
<p>上一个章节我们学到了很多关于angular-translate的内容。我们知道我们如何能
<a href="#/guide/06_variable-replacement">动态化我们的翻译</a>. 我们还学到了
<a href="#/guide/07_multi-language">怎么加一个语言</a>. 但还是当打开我们的Web应用程序时有感觉有点傻的事情。
每次我们推出我们应用程序时，我们都需要点击一遍又一遍（当然，&#39;德语&#39;的按钮只有当你是一个德国用户时 - 我）！.</p>
<p>所以问题是，我们的应用程序只是不记得是哪个语言你选择
你打开了它的最后一次。本章将告诉您如何教你的应用程序
记住用户选择的语言。</p>
<h3 id="存储_让你的应用程序记住的语言">让你的应用程序记住的语言</h3>
<p>为了让您的应用程序记住用户选择的语言，angular-translate带有一个
对<strong>存储</strong>的支持。不管你用什么存储，angular-translate都会存储
一门语言的键值，它有一个特定标识符，所以在下一次用户启动应用程序时请求他。</p>
<p>angular-translate 内置了两个存储支持. <strong>localStorage</strong> and
<strong>cookieStorage</strong>. 如果它不是由用户当前使用的浏览器的支持的话，localStorage会回退到cookieStorage。
使用这些存储区中的一个，你必须安装相应的扩展包。</p>
<h3 id="存储_使用cookiestorage">使用cookieStorage</h3>
<p>如果您想使用cookieStorage在跨http请求时存储语言，只需通过 bower 安装cookie存储扩展：</p>
<pre><code>$ bower install angular-translate-storage-cookie</code></pre>
<p>之后，请确保您已在HTML文档中内嵌了。一旦嵌入，你可以使用<code>$translateProvider</code>中的<code>useCookieStorage</code>方法，
angular-translate会替你做其余的工作。</p>
<pre class="prettyprint linenums">
$translateProvider.useCookieStorage();
</pre>
<p>是那么容易吗？angular-translate 现在将初始语言存储了，同时一旦用户切换语言将相应地更新它。</p>
<h3 id="存储_使用localstorage">使用localStorage</h3>
<p>如果你有几个原因不想使用cookieStorage，你可以使用localStorage中做出同样的可能。流程是基本相同的。
安装相应的扩展包，并告诉<code>$translateProvider</code>通过<code>useLocalStorage()</code>使用localStorage。
同样，angular-translate把其余的工作替你完成了。</p>
<p>请记住，如果浏览器不支持localStorage, localStorage中会回退到cookieStorage中。
因此，你必须提供cookieStorage扩展。</p>
<p>您可以安装扩展包是这样的：</p>
<pre><code>$ bower install angular-translate-storage-local</code></pre>
<p>现在告诉 <code>$translateProvider</code> 你希望用以下的:</p>
<pre class="prettyprint linenums">
$translateProvider.useLocalStorage();
</pre>
<p>这就是全部。您的应用程序现在使用localStorage中记住用户的语言。让我们
更新我们的应用程序全部使用localStorage中的！</p>
<h3 id="存储_source">Source</h3>
<div source-edit="myApp" source-edit-deps="angular.js script.js" source-edit-html="index.html-15" source-edit-css="" source-edit-js="script.js-14" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-15" ng-html-wrap-loaded="myApp angular.js script.js"></pre>
<script type="text/ng-template" id="index.html-15">
    
    <div ng-controller="Ctrl">
      <p>{{ 'HEADLINE' | translate }}</p>
      <p>{{ 'PARAGRAPH' | translate }}</p>

      <p translate>PASSED_AS_TEXT</p>
      <p translate="PASSED_AS_ATTRIBUTE"></p>
      <p translate>{{ 'PASSED_AS_INTERPOLATION' }}</p>
      <p translate="{{ 'PASSED_AS_INTERPOLATION' }}"></p>
      <p translate="VARIABLE_REPLACEMENT" translate-values="{ name: 'PascalPrecht' }"></p>

      <button ng-click="changeLanguage('de')" translate="BUTTON_LANG_DE"></button>
      <button ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN"></button>
    </div>
  </script>
</div>
<div class="tab-pane" title="script.js">
<pre class="prettyprint linenums" ng-set-text="script.js-14"></pre>
<script type="text/ng-template" id="script.js-14">
      var translationsEN = {
        HEADLINE: 'What an awesome module!',
        PARAGRAPH: 'Srsly!',
        PASSED_AS_TEXT: 'Hey there! I\'m passed as text value!',
        PASSED_AS_ATTRIBUTE: 'I\'m passed as attribute value, cool ha?',
        PASSED_AS_INTERPOLATION: 'Beginners! I\'m interpolated!',
        VARIABLE_REPLACEMENT: 'Hi {{name}}',
        BUTTON_LANG_DE: 'german',
        BUTTON_LANG_EN: 'english'
      };

      var translationsDE= {
        HEADLINE: 'Was für ein großartiges Modul!',
        PARAGRAPH: 'Ernsthaft!',
        PASSED_AS_TEXT: 'Hey! Ich wurde als text übergeben!',
        PASSED_AS_ATTRIBUTE: 'Ich wurde als Attribut übergeben, cool oder?',
        PASSED_AS_INTERPOLATION: 'Anfänger! Ich bin interpoliert!',
        VARIABLE_REPLACEMENT: 'Hi {{name}}',
        BUTTON_LANG_DE: 'deutsch',
        BUTTON_LANG_EN: 'englisch'
      };

      var app = angular.module('myApp', ['ngCookies', 'pascalprecht.translate']);

      app.config(['$translateProvider', function ($translateProvider) {
        // add translation tables
        $translateProvider.translations('en', translationsEN);
        $translateProvider.translations('de', translationsDE);
        $translateProvider.preferredLanguage('en');
        // remember language
        $translateProvider.useLocalStorage();
      }]);

      app.controller('Ctrl', ['$translate', '$scope', function ($translate, $scope) {

        $scope.changeLanguage = function (langKey) {
          $translate.use(langKey);
        };
      }]);
    </script>
</div>
</div><h3 id="存储_demo">Demo</h3>
<div class="well doc-example-live animate-container" ng-embed-app="myApp" ng-set-html="index.html-15" ng-eval-javascript="script.js-14"></div>
<p>变更语言并刷新浏览器！我们的应用程序现在应该还记得上次使用的语言！</p>
<p><br></p>
<p><hr></p>
<center>Made with unicorn &hearts; love by <a href="http://github.com/PascalPrecht">PascalPrecht</a></center>
</div></div>
