<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="--page"><h2 id="events">Events</h2>
<p>angular-translate 在 $rootScope<code>上会反应一些自定义事件一旦他们被触发。请一定要监听</code>$rootScope<code>这些事件！
你不能在</code>$scope<code>范围监听，因为它们是在</code>$rootScope`层面发射的，这是为了创建一个应用程序范围内的事件总线具有更好的性能。</p>
<p>本文档介绍不同的事件，当他们如何被触发。</p>
<h3 id="events_通用时间">通用时间</h3>
<p>有些事件得到触发和您是如何配置的angular-translate是独立的。这些都是通用时间你总是可以指望被触发的。</p>
<p><strong><code>$translateChangeStart</code></strong></p>
<p>此事件在angular-translate开始尝试改变语言时得以触发。这是在启动时，当第一次设置语言时，或用<code>$translate.use()</code>改变语言时。
此事件还在angular-translate 第一次异步加载翻译的数据得到触发。</p>
<p><strong><code>$translateChangeSuccess</code></strong></p>
<p>从名字就可以看出来，这个时间是在angular-translate 改变翻译成功之后触发的。
当不使用异步加载时，这个事件通常<code>$translateChangeStart</code>事件之后被立刻触发。
。这个事件在异步加载程序必须首先加载翻译数据得到后也触发。</p>
<p><strong><code>$translateChangeError</code></strong></p>
<p>此事件在翻译更改失败后触发。这实际上只发生在一个异步加载拒绝返回的承诺。</p>
<p><strong><code>$translateChangeEnd</code></strong></p>
<p>当翻译的变化最终结束时被触发，成功或不成功，所有注册的插值服务都会被通知有关翻译的变化。</p>
<h3 id="events_异步加载">异步加载</h3>
<p>有一些事件，当得到一个异步加载程序仅用于触发。这些都是在这里介绍。</p>
<p><strong><code>$translateLoadingStart</code></strong></p>
<p>正如此事件的名字所说，在注册异步装载程序被调用时这个事件被触发时，就在<code>$translateChangeStart</code>被触发之后。</p>
<p><strong><code>$translateLoadingSuccess</code></strong></p>
<p>异步加载返回一个解决的承诺时被触发。</p>
<p><strong><code>$translateLoadingError</code></strong></p>
<p>异步加载返回一个拒绝承诺时被触发。</p>
<p><strong><code>$translateLoadingEnd</code></strong></p>
<p>得到射击阉了解决或拒绝返回
在一个异步加载器返回解决或拒绝的承诺时被触发。在异步加载器返回一个解决的承诺情况下，此事件在转换表更新后被触发。</p>
<p><strong><code>$translatePartialLoaderStructureChanged</code></strong></p>
<p>在改变<code>$ translatePartialLoader</code>的“结构”时使用任何种类的<code>*Part()</code>方法时被触发。</p>
</div></div>
