<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="--page"><h2 id="工具">工具</h2>
<p>这里不仅有angular-translate，你可能还想使用一个额外的模块。这里有一个完整的angular-translate宇宙！
这个宇宙中还包括附加模块本身周围的事物。 我们目前维持了几个小工具，你在开发angular-translate应用程序时可能会有兴趣使用。</p>
<p>看看吧！</p>
<h3 id="工具_grunt-angular-translate">grunt-angular-translate</h3>
<p><a href="http://github.com/angular-translate/grunt-angular-translate">grunt-angular-translate 在 GitHub</a></p>
<h3 id="工具_grunt-po2json-angular-translate">grunt-po2json-angular-translate</h3>
<p>这是创建一个grunt任务来帮助你给你的格式字符串转换成与angular-translate兼容的格式.
如果你想更深入的信息，去<a href="http://github.com/angular-translate/grunt-po2json-angular-translate">GitHub 库</a>.</p>
<p>简单地说，设置它，你需要两个步骤：</p>
<p>1）安装它，在你的gruntfile中启用</p>
<pre><code class="lang-shell">npm install grunt-po2json-angular-translate --save-dev</code></pre>
<pre><code class="lang-js">grunt.loadNpmTasks(&#39;grunt-po2json-angular-translate&#39;);</code></pre>
<p>2) 根据您的需要添加的配置，例如：</p>
<pre><code class="lang-js">grunt.initConfig({
  po2json_angular_translate: {
  options: {
     pretty: false,
     upperCaseId : false
    },
    your_target: {
                 files: {
                     // This will generate a single json file with all the specified strings
                     &#39;tmp/dest.json&#39; : [&#39;test/fixtures/*.po&#39;],

                     //this will create several json files, the names of them will be the same than in the .po files
                     &#39;tmp/dest&#39; : [&#39;test/fixtures/*.po&#39;]
                  }
    },
  },
});</code></pre>
<p>无论您是需要一个或多个.json的文件，取决于您的特例。
这里有几个选项可以在开发/生产环境下帮助您，但更重要的，是以下的：</p>
<h5 id="工具_grunt-po2json-angular-translate_optionspretty">options.pretty</h5>
<p>Type: <code>Boolean</code>
Default value:  <code>false</code>
如果你想漂亮的打印结果</p>
<h5 id="工具_grunt-po2json-angular-translate_optionscleanprevstrings">options.cleanPrevStrings</h5>
<p>Type: <code>Boolean</code>
Default value:  <code>false</code>
它会在创建新的之前删除在目标指定的所有以前生成的文件。</p>
<p>还有其他选项，以帮助您在输出.JSON文件的生成，例如，将您的gettext的格式化 <a href="https://github.com/angular-translate/grunt-po2json-angular-translate#pluralization">复数化字符串</a>, 设置 <a href="https://github.com/angular-translate/grunt-po2json-angular-translate#optionsenablealtplaceholders">自定义的占位符</a>或者 <a href="https://github.com/angular-translate/grunt-po2json-angular-translate#optionsuppercaseid">转换<code>msgid</code>为大写</a>.</p>
<p>这是在实际的项目中使用的结构的一个例子：</p>
<pre><code class="lang-js">        &#39;po2json_angular_translate&#39;: {
            dev: {
                options: {
                    pretty: false,
                    cleanPrevStrings: false
                },
                files: {
                    &#39;app/i18n/en/&#39; : [&#39;po/en/dashboard/*.po&#39;],
                    &#39;app/i18n/en/common-strings.json&#39; : [&#39;po/en/dashboard/common/*.po&#39;],

                    &#39;app/i18n/de/&#39; : [&#39;po/de/dashboard/*.po&#39;],
                    &#39;app/i18n/de/common-strings.json&#39; : [&#39;po/de/dashboard/common/*.po&#39;]
                }
            },
            devOneFile: {
                options: {
                    pretty: false,
                    cleanPrevStrings: true
                },
                files: {
                    &#39;app/i18n/en/strings.json&#39; : [&#39;po/en/dashboard/**/*.po&#39;],
                    &#39;app/i18n/de/strings.json&#39; : [&#39;po/de/dashboard/**/*.po&#39;]
                }
            },
            dist: {
                options: {
                    pretty: false,
                    cleanPrevStrings: true
                },
                files: {
                    &#39;app/dist/i18n/en/&#39; : [&#39;po/en/dashboard/*.po&#39;],
                    &#39;app/dist/i18n/en/common-strings.json&#39; : [&#39;po/en/dashboard/common/*.po&#39;],

                    &#39;app/dist/i18n/de/&#39; : [&#39;po/de/dashboard/*.po&#39;],
                    &#39;app/dist/i18n/de/common-strings.json&#39; : [&#39;po/de/dashboard/common/*.po&#39;]
                }
            }
        },</code></pre>
</div></div>
