<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="--page"><h2 id="111--&gt;-200">1.1.1 -&gt; 2.0.0</h2>
<h3 id="111--&gt;-200_匿名换算表不再支持：">匿名换算表不再支持：</h3>
<p>2.0.0之后版本匿名转换表不再被angular-translate支持。这是为了增加代码的一致性。请确保您的应用程序不包含这样的代码：</p>
<pre><code class="lang-js">$translateProvider.translations({
  &#39;greetings&#39; : &#39;Hello&#39;,
  // some other keys
});</code></pre>
<p>要解决它，你只需要添加一门语言的关键作为第一个参数：</p>
<pre><code class="lang-js">$translateProvider.translations(&#39;en&#39;, {
  &#39;greetings&#39; : &#39;Hello&#39;,
  // some other keys
});
$translateProvider.use(&#39;en&#39;);</code></pre>
<h3 id="111--&gt;-200_uses--&gt;-use">uses -&gt; use</h3>
<p>为了提高一致性我们决定将 <code>.uses()</code> 方法更名为 <code>.use()</code>. 这个是在$translate 和 $translateProvider两者上都做得改变。
所以请确保您已更新所有出现这些的方法为新的样式。</p>
<h3 id="111--&gt;-200_$translate-现在是异步了">$translate() 现在是异步了</h3>
<p>$translate 服务是基于现在的承诺。所以你不能在同步方式使用它了。请更新以下代码从：</p>
<pre><code class="lang-js">var stringFromService = $translate(&#39;translationId&#39;);</code></pre>
<p>变成</p>
<pre><code class="lang-js">var stringFromService;
$translate(&#39;translationId&#39;).then(function(translation) {
  stringFromService = translation;
}, function(translationId){
  // Unable to translate given translationId
  stringFromService = translationId;
});</code></pre>
<p>如果您仍然想同步的方式使用该服务，那么请使用
<code>$translate.instant(langKey, translationId, interpolateParams)</code> 方法，而不是直接的服务通话。
但是请注意，<code>instant</code>方法不会等到异步加载完成。因此，要小心使用它。</p>
<h3 id="111--&gt;-200_事件现在只在$rootscope发射">事件现在只在$rootScope发射</h3>
<p>所有 angular-translate时间现在都在$rootScope层面发射, 这意味着你不能再简单监听<code>$scope.$on()</code>了. 现在你必须使用<code>$rootScope.$on()</code>。
这样做是广播事件时，以获得更好的性能。</p>
<h3 id="111--&gt;-200_wtfpl--&gt;-mit">WTFPL -&gt; MIT</h3>
<p>angular-translate 不再根据WTFPL许可授权。现在是MIT的许可授权。</p>
<h3 id="111--&gt;-200_结构改变">结构改变</h3>
<p>angular-translate 项目目前完全在 github 上了, 这意味着所有的库都转移到这里了。 (<a href="https://github.com/angular-translate">https://github.com/angular-translate</a>)</p>
</div></div>
